@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial;
}

p {
  font-family: 'VT323', sans-serif;
  margin: 0;
}

main {

}

header {
  display: flex;
  width: 100%;
  height: 100px;
  z-index: 100;
  position: fixed;

  
}

nav {
  
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: 0 30px;
  
  
}

main {
  
}


.pfp-container {
  color: white;

}

.my-pfp {
  object-fit: cover;
  height: 60px;
  border-radius: 30px;

}

.navbar {
  color: white;
  display: flex;

  flex-shrink: 0;

}

.navbar-link {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'VT323', sans-serif;
  font-size: 30px;
}

.hero-container {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: -201;
  position: relative;


  
}



.space-background {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/pixel-night-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
  z-index: -200;
  opacity: 40%;
  position: absolute;
  

  
}

.welcome-section-container {
  flex: 1;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.welcome-section {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100vh;
}

.welcome-text-container,
.binary-picture-container {
  flex: 1; /* Ensures both containers take up equal space */
  display: flex;
  max-width: 30%; /* Both containers take up half of the available space */
}

.binary-picture-container {
  justify-content: center;
  align-items: center;

  overflow: hidden;




}

.binary-picture {
  object-fit: cover;
  width: 100%;

}

.welcome-text-container {
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Column layout for the text */
  text-align: left;


  

}

.text-box {
}

.level-one-text {
  color: white;
  font-size: 4.5rem;
  text-align: left;
}

.level-two-text {
  color: white;
  font-size: 2.25rem;
  text-align: left;
}

/* Section 2 */
.section-2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 29, 68);
  z-index: -201;
  position: relative;

}

.about-me-section-container {
  flex: 1;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-section {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;


}

.about-me-text-container, .my-picture-container {
  display: flex;
  flex: 1;
  max-width: 30%;
}

.about-me-text-container {
  align-items: center;
  text-align: left;

}

.about-me-text-container .level-one-text {
  font-size: 2rem;
}

.about-me-text-container .level-two-text {
  font-size: 1.25rem;
}

.my-picture-container {
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.my-picture {
  position: absolute;
  object-fit: cover;
  width: 150%;
  transform: translateY(20%);
  

}











/* Large desktops and wide screens */
@media (min-width: 1440px) {
  /* Styles for large screens */
}

/* Laptops and desktops */
@media (min-width: 1024px) {
  /* Styles for larger screens */
}




@media (max-width: 1024px) {
  .welcome-section,.about-me-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Let height be determined by content */
  }

  .about-me-section {
    flex-direction: column-reverse;
    height: 100vh;
  }

  .welcome-text-container,
  .binary-picture-container,
  .about-me-text-container,
  .my-picture-container {
    max-width: 100%;
    text-align: center;

  }

  .welcome-text-container{
    font-size: 
  }

  .about-me-text-container {
    max-width: 70%;
    padding-top: 5%;
  }

  .level-one-text {
    font-size: 3.0rem;
  }
  .level-two-text {
    font-size: 1.5rem;
  }

  .binary-picture-container {


  }

  .binary-picture{
    width: 70%;
  }

  .my-picture-container {
    max-width: 80%;


  }

  .my-picture {
    width: 120%;

    position: static;
    height:140%;
  

  }


  header {
    height: 80px;
  
  }
  nav {
    padding: 0 20px;

  }

  .pfp-container {
    color: white;
  
  }
  
  .my-pfp {
    object-fit: cover;
    height: 48px;
    border-radius: 24px;
  
  }

  .navbar {
  

  }
  .navbar-link {
    color: white;
    font-family: 'VT323', sans-serif;
    font-size: 1.5rem;

  }

}




/* Tablets (portrait) */
@media (max-width: 768px) {
  .welcome-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Let height be determined by content */
  
  }

  .welcome-text-container,
  .binary-picture-container {
    max-width: 100%; /* Full width in column layout */
    text-align: center;

  }

  .welcome-text-container {
    font-size: 
  }

  .level-one-text {
    font-size: 3.0rem;
  }
  .level-two-text {
    font-size: 1.5rem;
  }

  .binary-picture-container {

  }

  .binary-picture {
    width: 70%;
  }



  .about-me-text-container .level-one-text {
    font-size: 1.50rem;

  }

  .about-me-text-container .level-two-text {
    font-size: 1rem;
    
  }

  header {
    height: 80px;
  
  }
  nav {
    padding: 0 10px;

  }

  .pfp-container {
    color: white;
  
  }
  
  .my-pfp {
    object-fit: cover;
    height: 44px;
    border-radius: 22px;
  
  }

  .navbar {
  

  }
  .navbar-link {
    color: white;
    font-family: 'VT323', sans-serif;
    font-size: 1.2rem;

  }
}

/* Mobile phones (portrait) */
@media (max-width: 480px) {
  .welcome-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Let height be determined by content */
  
  }

  .welcome-text-container,
  .binary-picture-container {
    max-width: 100%; /* Full width in column layout */
    text-align: center;

  }

  .welcome-text-container {
    font-size: 
  }

  .level-one-text {
    font-size: 3.0rem;
  }
  .level-two-text {
    font-size: 1.5rem;
  }

  .binary-picture-container {

  }

  .binary-picture {
    width: 70%;
  }

  header {
    height: 80px;
  
  }
  nav {
    padding: 0 10px;

  }

  .pfp-container {
    color: white;
  
  }
  
  .my-pfp {
    object-fit: cover;
    height: 44px;
    border-radius: 22px;
  
  }

  .navbar {
  

  }
  .navbar-link {
    color: white;
    font-family: 'VT323', sans-serif;
    font-size: 1.2rem;

  }

}


















