@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: arial;
}

p {
  font-family: 'VT323', sans-serif;
}

.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  

}

.intro-backdrop {

}

.space-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/spacebg.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;

  
}

.minecraft-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/minecraft_bg.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;

}

.header-container {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgb(12, 41, 105);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  

}

.pfp-container {
  color: white;



}

.my-pfp {
  object-fit: cover;
  height: 50px;
  border-radius: 25px;
  margin-left: 15px;

}

.navbar {
  color: white;
  margin-right: 20px;

}

.navbar-link {
  color: white;
}

.welcome-section {
  height: 400px;
  width: 600px;

  display: flex;
  margin-top: 200px;
}

.welcome-text-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'VT323';


}

.level-one-text {
  color: white;
  font-size: 30px;

}
.level-two-text {
  color: white;
  font-size: 20px;

}

.binary-picture-container {
  flex: 1;

  display: flex;
  justify-content: center;

}
.binary-picture {
  width: 260px;
  object-fit: cover;
}

.section-2 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  


 

}

.about-me-container {
  height: 400px;
  width: 600px;
  display: flex;

}

.my-picture-container {
  flex: 1;

}

.my-picture {
  object-fit: cover;
  width: 300px;
  justify-content: center;
  height: 400px;
}

.about-me-text-container {
  flex: 1;

  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;




}

.level-one-text-pt1{
  color: white;
  font-size: 30px;
  background-color: rgb(0,0,255,0.5);

}

.level-two-text-pt2 {
  color: white;
  font-size: 20px;
  background-color: rgb(0,0,255,0.5);

}

.section-3 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(51, 60, 75);
  z-index: 1;
  display: flex;
  flex-direction: column;

}

.blue-rectangle {
  background-color: rgb(30, 30, 120);
  top: 0px;
  left: 0px;
  width: 800px;
  height: 300px;
  position: absolute;
  z-index: -1;
}

.design-text-container {
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;


  
}

.design-text {
  margin: 0;
  font-size: 300px;
  z-index: 8;
}

.notes-text-container {
  position: absolute;
  z-index: -1;
  margin: 0;
  bottom: -250px;
  right: -200px;
  font-size: 300px;
  background-color: rgb(128, 97, 230);


}


.notes-text {
  margin: 0;
  z-index: 2;
}

.top-section {
  flex: 3;
  z-index: 10;
}

.bottom-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;

}










